@import '~@/styles/config'

$header-height: 28px
$ul-margin-top: 14px
$header-margin-bottom: 4px

$color--orange: #ffcfcb
$color--blue: #e5f0ff

$color--male: #1896ea
$color--female: #ff3838
$color--unspecified: #ffe042
$color--average: purple