@import './app-config'

.content
    flex: 1 1 auto
    overflow-y: auto
    overflow-x: hidden
    height: calc(100% - #{$header-height})

    &::-webkit-scrollbar
        width: 0em
        height: 0em
    
    &::-webkit-scrollbar-track
        -webkit-box-shadow: none

    &::-webkit-scrollbar-thumb
        background-color: $color--text-dark
        outline: none
input
    outline: none
.actions
    display: flex
    flex: 0 0 auto
    input, button
        flex: 1 0 50%
        text-align: center
button
    border: none
    &.go
        background: $color--male
    &.no-go
        background: $color--female
h4.app-section-title
    flex: 0 0 auto
    font-size: 14px
    margin: 0.5em
