@import './config'

$debug: false

a
    text-decoration: none
    color: inherit

ul
    list-style-type: none
    padding: 0
    margin: 0

$max-width: $size--max-width

.page-section
    box-sizing: border-box
    position: relative
    overflow-x: hidden
    overflow-y: hidden

    &.padded > .inner-section
        padding: $size--section-padding $size--section-padding/2

    &>.inner-section
        max-width: $max-width 
        width: 100%
        margin: 0 auto
        box-sizing: border-box

        &.padded
            padding: $size--section-padding/2

    $small-side-width: $max-width/2
    .half-side
        width: 50%
        padding-right: $size--section-padding/2
        flex: 0 0 auto
        box-sizing: border-box
        overflow: visible
        @if $debug
            outline: 1px solid orange

        &:nth-of-type(2)
            padding-right: 0
            padding-left: $size--section-padding/2
    .big-side
        width: $small-side-width
        margin-right: $size--section-padding/2
        flex: 0 0 auto

        @if $debug
            outline: 1px solid green
        
    .small-side
        width: $small-side-width
        flex: 0 0 auto

        @if $debug
            outline: 1px solid red

    .limited-width
        width: 550px
        margin-left: auto
        margin-right: auto


.block-letters
    font-family: impact, sans-serif
    font-weight: bold
    letter-spacing: 1px

h2.block-title
    @extend .block-letters

    transform: scaleY(1.2)
    $space: .5em
    margin: $space 0
    .line
        display: block
        margin-bottom: 8px
        line-height: 0.8

    .small
        font-size: 24px
        text-transform: uppercase
    .medium
        font-size: 48px
        margin-top: $space
        letter-spacing: 6px
    .big
        font-size: 100px // out of proportion so it feels 'too big'
        text-transform: uppercase

    .upper
        text-transform: uppercase
    .lower
        text-transform: lowercase

.title-text
    font-size: 24px
    font-weight: lighter
    transform: scaleY(1.2) translateY(1em)

.img-group
    position: relative

    img
        position: absolute


a
    transition-property: color, border-color
    transition-duration: 1s 
    transition-timing-function: ease-out
    
    &:hover
        transition-duration: .2s
        color: $color--maroon
